* {
    margin: 0px;
    padding: 0px;
    
    /* background-color: rgb(117, 128, 128);	 */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .wrapper{
      width: 95%;
      margin: 0 auto;
      
  }
  .about{
    /* position: absolute; */
    /* top:35px; */
    padding: 12px;
    margin: auto 0;
    /* height: 400px; */
  }
  .nav-bar{

    /* position: fixed; */
    /* width: 95%; */
  }
  .gtaTable{
      width: 95%;
      
  }
  table, th, td {
    border: 1px solid black;
    
  }
  td{
      text-align: center;
  }
  /* .gallery{
  display: grid;
  gap:1em;
  grid-template-columns:repeat(auto-fit(240px,1fr));
  margin: 20px;
  
  } */
  

  

 
  .languge {
    float: right;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 196, 198);
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    /* float: left; */
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logo{
    height: 16px;
  }
  #sidebar {
    width: 200px;
   /* background-color: red;	*/
    float: right;
    min-height: 300px;
    background-image: ;
     box-shadow: 10px 10px 20px grey;
  }
  .sidebar-content{
    width: 100%;
    
  }
  .sidebar-content:hover{

    background-color: gray;
  }
  div.picture {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  div.picture:hover {
    border: 1px solid #777;
    scale: 1.1;
  }
  img:hover {
    border: 1px solid #777;
    scale: 1.5;
  }
  
  div.picture img {
    width: 100%;
    height: auto;
  }